
html {
  height: 100%;
}

body {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Lato";
  background-color: #ffffff;
}

#cover {
  background: linear-gradient(45deg, #f19872, #FF6B6B);
  width: 10vw;
  height: 10vh;
  margin-top: 45vh;
  margin-left: 45vw;
  position: fixed;
}

#first-name {
  color: #383838;
  position: fixed;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  letter-spacing: 20px;
  top: 0;
  z-index: 1000;
}

#first-name h1 {
  font-size: 3em;
  font-family: "Futura";
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
}

#last-name h1 {
  font-size: 3em;
  font-family: "Futura";
  font-weight: 200;
  opacity: 0;
  margin: 0;
  text-transform: uppercase;
}

#last-name {
  position: fixed;
  top: 25vh;
  color: #383838;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  letter-spacing: 20px;
  z-index: 1000;
  margin: 0;
}

.swan {
  opacity: 0;
}

#title h3 {
  font-size: 2em;
  font-weight: lighter;
  z-index: 1000;
}

#title {
  color: #383838;
  display: inline-flex;
  font-family: "Lato";
  justify-content: center;
  letter-spacing: 10px;
  position: absolute;
  top: 32vh;
  z-index: 1000;
  width: 100%;
}

.category-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 50vh;
  width: 100%;
  z-index: 1000;
}

.category-bubble {
  border-right: 1px solid #383838;
}

.category-title {
  color: #ffffff;
  font-size: 2em;
  letter-spacing: 2px;
  opacity: .4;
  padding-right: 75px;
}

.skills {
  padding-left: 100px;
}

.about {
  border-right: none;
  padding-right: 100px;
}

.links {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 10px 10px 20px 10px;
}

.link-container {
  padding-right: 15px;
}

.links a {
  color: #383838;
  font-size: 2.5em;
  margin-right: 20px;
}
