/* berry tones */
/* #AE1D43
#E62136
#550528 */

html {
  height: 100%;
}

body {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.top-right {
  width: 0;
  height: 0;
  border-left: 94.5vw solid transparent;
  border-right: 5.6vw solid transparent;
  border-top: 50vw solid #353535;
}

.bottom-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50vh solid transparent;
  border-bottom: 48vh solid transparent;
  border-right: 48.5vw solid #E06E7C;
}

.bottom {
  width: 0;
  height: 0;
  border-left: 91.5vh solid transparent;
  border-right: 91.5vh solid transparent;
  border-bottom: 52vh solid #EE7169;
}

.name {
  position: absolute;
  top: 50vh;
  left: 50px;
}

h2 {
  font-family: "Poiret One";
  letter-spacing: 2px;
  font-size: 2.5em;
  text-transform: uppercase;
}

h4 {
  font-family: "Bad Script";
  letter-spacing: 2px;
  font-size: 2em;
  text-align: center;
}

.links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 48vw;
  bottom: -38px;
  width: 400px;
  transform: rotate(29.5deg);
}

.link-container a {
  color: #214C4F;
  font-size: 1.3em;
  font-family: "Poiret One";
  font-weight: bolder;
  letter-spacing: 2px;
  margin-right: 12px;
  text-decoration: none;
  width: 100px;
}
